
.idea/
athena.iml
target/
src/main/resources/public/

### Developer's personal properties ###
**/resources/config/application*-dev-*.properties
**/resources/config/application*-dev-*.yaml
**/resources/config/application*-dev-*.yml

LOG_FILE_IS_UNDEFINED
docs
.frontend/
docker
docker-compose.yml
