@import "cerulean.css";
@import "ui.jqgrid-bootstarp.css";
@import "ui.jqgrid.css";
@import "jquery-ui.min.css";
@import "dataTables.bootstrap.css";
@import "vocBuilder";

#vocabulariesList{
  font-size: 12px;
  thead{
    td{
      font-size: 12px;
    }
  }
  tbody{
    td{
      font-size: 12px;
    }
  }
}

#browserWrapper{
  padding-left: 10px;
  padding-right: 10px;
}

#vocabularies-table_filter{
  label{
    input{
      width: 135px;
    }
  }
}

#conceptsList{
  font-size: 12px;
  thead{
    td{
      font-size: 12px;
    }
  }
  tbody{
    td{
      font-size: 12px;
    }
  }
}

#concepts-table_filter{
  label{
    input{
      width: 135px;
    }
  }
}

#relationsList{
  font-size: 12px;
  thead{
    td{
      font-size: 12px;
    }
  }
  tbody{
    td{
      font-size: 12px;
    }
  }
}

#relations-table_filter{
  label{
    input{
      width: 135px;
    }
  }
}

#browserSecondRow{
  margin-top: 10px;
}