
#builderWrapper{
  margin-left: 30px;
  margin-right: 30px;
}

#vocabularyLogTable{
  tbody{
    td{
      font-size: 10px;
    }
  }
}

#vocab-log-header{
  margin-top: 0px;
}

#vocabularyLogTable{
  margin-top: 2px;
}

