<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>

<h3>Link for downloading the Standardized Vocabularies</h3>
<p>
    Vocabularies release version: <strong><span th:text="${vocabularyReleaseVersion}"></span></strong>
</p>

<div>
    <table>
        <thead>
        <tr>
            <th colspan="3" align="left"><span th:text="${bundleName}"></span> Vocabularies:</th>
        </tr>
        </thead>
        <tr th:each="vocabulary : ${vocabularies}">
            <td th:text="${vocabulary.key}"></td>
            <td>-</td>
            <td th:text="${vocabulary.value}">Normal User</td>
        </tr>
    </table>
</div>

<p>Please download and load the Standardized Vocabularies as following:</p>
<ol>
    <li>Click on this <a th:href="${url}">link</a> to download the zip file.
        Typical file sizes, depending on the number of vocabularies selected, are between 30 and 250 MB.
    </li>
    <li>Unpack.</li>
    <li>Reconstitute CPT-4. See below for details.</li>
    <li>If needed, create the tables.</li>
    <li>Load the unpacked files into the tables.</li>
</ol>

<p> Important: All vocabularies are fully represented in the downloaded files with the exception of CPT-4:
    OHDSI does not have a distribution license to ship CPT-4 codes together with the descriptions.
    Therefore, we provide you with a utility that downloads the descriptions separately and merges them together
    with everything else. After unpacking, simply open a command line in the directory you unpacked all
    the files into and run "java -Dumls-apikey=xxx -jar cpt4.jar <span th:text="${version}"></span>".
    Please replace "xxx" with <a th:href="${umlsUrl}">UMLS</a> API KEY.
</p>

<p> Please migrate your UMLS account to APIKEY authentication till January 15, 2021, as described here: <a href="https://www.nlm.nih.gov/research/umls/uts-changes.html">UTS Login Changes</a>
</p>

<p>The control files can be found
    <a th:href="${controlFilesUrl}"
       target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en
&amp;q=th:text=${controlFilesUrl}&amp;source=gmail&amp;ust=1488877772753000
&amp;usg=AFQjCNHUnjcPwtc4s4UqX9f-iS-EUfocJw">here</a>.

    They are provided in the folders Oracle/, PostgreSQL/ and SQL Server/ for the respective SQL dialect. The loading
    scripts are inside the subfolder VocabImport/.</p>

<p>If you hit problems please use the <a th:href="${forumUrl}"
                                         target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en
&amp;q=th:text=${forumUrl}&amp;source=gmail&amp;ust=1488877772753000
&amp;usg=AFQjCNHTlB0rs1HpEwZjvho6sUaciuSA5w">OHDSI Forum pages</a>,
    and somebody will help you. You will need to register.</p>

Regards,<br/>
Odysseus Data Services, Inc.
</p></body>
</html>