<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>

<h3>Content of your package</h3>
<p>
    Vocabularies release version: <strong><span th:text="${vocabularyReleaseVersion}"></span></strong>
</p>

<div>
    <table>
        <thead>
        <tr>
            <th colspan="3" align="left"><span th:text="${bundleName}"></span> Vocabularies:</th>
        </tr>
        </thead>
        <tr th:each="vocabulary : ${vocabularies}">
            <td th:text="${vocabulary.key}"></td>
            <td>-</td>
            <td th:text="${vocabulary.value}">Normal User</td>
        </tr>
    </table>
</div>

<h3>Installation of the OHDSI Standardized Vocabularies</h3>

<p>Please execute the following process:</p>
<ol>
    <li>Click on this <a th:href="${url}">link</a> to download the zip file.
        Typical file sizes, depending on the number of vocabularies selected, are between 30 and 1500 MB.
    </li>
    <li>Unpack.</li>
    <li>Reconstitute CPT-4. See below for details.</li>
    <li>If needed, create the tables.</li>
    <li>Load the unpacked files into the tables.</li>
</ol>

<p> Important: All vocabularies are fully represented in the downloaded files with the exception of CPT-4:
    OHDSI does not have a distribution license to ship CPT-4 codes together with the descriptions.
    Therefore, we provide you with a utility that downloads the descriptions separately and merges them together with everything else.
    After unpacking, simply open a command line in the directory you unpacked all the files into and run "java -Dumls-apikey=xxx -jar cpt4.jar 5
    <span th:text="${version}"></span>".
    Please replace "xxx" with <a th:href="${umlsUrl}">UMLS</a> API KEY.
</p>

<p>Scripts for importing the vocabulary csv files into your OMOP CDM vocabulary tables can be found
    <a th:href="${controlFilesUrl}" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=th:text=${controlFilesUrl}&amp;source=gmail&amp;ust=148887777275300&amp;usg=AFQjCNHUnjcPwtc4s4UqX9f-iS-EUfocJw">here</a>.
    They are provided in the respective folders, e.g. Oracle/, PostgreSQL/ and SQL Server/ for supported SQL dialects. The loading
    scripts are inside the subfolder VocabImport/.
</p>

<p><strong>Note:</strong> Vocabulary tables that are under development and not yet part of the current OMOP CDM schema
    (pack_content, concept_metadata, concept_relationship_metadata) are distributed as release attachments through the
    <a href="https://github.com/OHDSI/Vocabulary-v5.0/releases">Vocabulary-v5.0 GitHub repository</a>
    (<a href="https://github.com/OHDSI/Vocabulary-v5.0">Vocabulary-v5.0</a>).</p>

<p>If you encounter problems, please find more information in the <a href="https://github.com/OHDSI/Vocabulary-v5.0/wiki/General-Structure,-Download-and-Use#availability-license-download">Documentation</a> or
    submit a post at the <a href="https://forums.ohdsi.org">OHDSI Forums</a> to ask the community for support.
    The <a href="https://forums.ohdsi.org/c/vocabulary-users/14">Vocabulary Users</a> chapter is for discussion around vocabulary content, and
    <a href="https://forums.ohdsi.org/c/implementers/6">Implementers</a> is about implementation in your local environment. You will need to register.
</p>


Regards,<br/>
    The OHDSI Vocabulary Team
</p></body>
</html>