<script type="text/template" id="vocab-list">
    <table id="status_table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="vocab-list-id">id</th>
            <th class="vocab-list-name">Name</th>
            <th class="vocab-list-status">Status</th>
            <th class="vocab-list-statusName">Status</th>
            <th class="vocab-list-opNumber">opNumber</th>
            <th class="vocab-list-description">description</th>
            <th class="vocab-list-detail">detail</th>
            <th class="vocab-list-controls">Controls</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="status_table_filter_controls">
        <ul class="list-inline">
            <li>
                <button type="button" id="filter_all_vocabularies" class="btn btn-primary btn-sm">All</button>
            </li>
            <li>
                <button type="button" id="filter_available_vocabularies" class="btn btn-info btn-sm">Available</button>
            </li>
            <li>
                <button type="button" id="filter_unavailable_vocabularies" class="btn btn-primary btn-sm">Unavailable
                </button>
            </li>
            <li>
                <button type="button" id="filter_ready_vocabularies" class="btn btn-success btn-sm">Ready</button>
            </li>
            <li>
                <button type="button" id="filter_failed_vocabularies" class="btn btn-danger btn-sm">Failed</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="vocab-message-log">
    <div id="log_filter_controls">
        <ul class="list-inline">
            <li>
                <button type="button" id="filter_all_logs" class="btn btn-primary btn-xs">All messages</button>
            </li>
            <li>
                <button type="button" id="filter_errors_only_logs" class="btn btn-danger btn-xs">Errors only</button>
            </li>
            <li>
                <button type="button" id="filter_build_only_logs" class="btn btn-success btn-xs">Successful only
                </button>
            </li>
        </ul>
    </div>
    <table id="build_log_table" class="table table-bordered">
        <thead>
        <tr>
            <th class="vocab_log_id">id</th>
            <th class="vocab_log_opStart">Date</th>
            <th class="vocab_log_opNumber">opNumber</th>
            <th class="vocab_log_opDescription">Description</th>
            <th class="vocab_log_opEnd">opEnd</th>
            <th class="vocab_log_opStatus">opStatus</th>
            <th class="vocab_log_opDetail">opDetail</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</script>

<script type="text/template" id="vocab-builder-layout">
    <div id="builderWrapper">
        <div class="row">
            <div class="col-md-6">
                <div id="vocabularyStatusTable"></div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div id="vocabularyInfo"></div>
                </div>
                <div class="row">
                    <div id="vocabularyLogTable"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="vocabulary-info-template">
    <div class="panel-heading">
        <h4 class="panel-title"><%= name %> Owerview</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li>Records total: <%= recordsCount %></li>
            <li>Domains: <%= domainsCount %></li>
            <li>Concepts: <%= conceptsCount %></li>
            <li>Relations: <%= relationsCount %></li>
            <li>Source vocabulary name: <%= sourceName %></li>
            <!--<li>Intersections with: <%= intersections %></li>-->
            <li>Last updated: <%= lastUpdated %></li>
        </ul>
        <ul class="list-inline">
            <li>
                <button type="button" class="btn btn-primary btn-xs">Browse domains</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-xs">Browse concepts</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn-xs">Browse relations</button>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="loading-view">
    <div id="spinner"></div>
</script>

<script type="text/template" id="main-menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul id="menuContainer" class="nav navbar-nav">
                <!--<li class="active"><a href="#">Build vocabularies <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Browse vocabularies</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">ATHENA Standardized Vocabularies for OMOP CDM</p>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="menu-item">
    <a class="menu-item" href="#"><%= name %></a>
</script>

<script type="text/template" id="vocab-browser-layout">
    <div id="browserWrapper">
        <div class="row">
            <div class="col-md-4">
                <div id="vocabulariesList">

                </div>
            </div>
            <div class="col-md-4">
                <div id="domainsList">
                    <p>Domains table</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="conceptsList">
                    <p>Concepts table</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="relationsList">
                    <p>Relations table</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="synonymsList">
                    <p>Synonyms table</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="browserControls">
                    <p>Browser controls</p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="browser-vocabularies">
    <table id="vocabularies-table" class="table table-hover">
        <thead>
            <tr>
                <th class="vocab-short-name">Vocabulary</th>
                <th class="vocab-full-name">Full name</th>
            </tr>
        </thead>
    </table>
</script>

<script type="text/template" id="browser-domains">
    <table id="domains-table" class="table table-hover">
        <thead>
            <tr>
                <th class="domain-id">Domain</th>
                <th class="domain-concepts-count">Concepts</th>
            </tr>
        </thead>
    </table>
</script>