<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="org.odhsi.athena.entity.Concept"/>
        <mapping class="org.odhsi.athena.entity.Domain"/>
        <mapping class="org.odhsi.athena.entity.Vocabulary"/>
        <mapping class="org.odhsi.athena.entity.ConceptClass"/>
        <mapping class="org.odhsi.athena.entity.DrugStrength"/>
        <mapping class="org.odhsi.athena.entity.ConceptAncestor"/>
        <mapping class="org.odhsi.athena.entity.ConceptSynonym"/>
        <mapping class="org.odhsi.athena.entity.Relationship"/>
        <mapping class="org.odhsi.athena.entity.ConceptRelationship"/>
        <mapping class="org.odhsi.athena.entity.SourceToConceptMap"/>
        <mapping class="org.odhsi.athena.entity.AttributeDefinition"/>
    </session-factory>
</hibernate-configuration>